[init]
  defaultBranch = main

[user]
  name = Cam Ratchford
	email = cameron.ratchford@samdesk.io
	signingkey = C6BBC8E4BE81E0A2

[commit]
	gpgsign = true

[core]
  filemode = false
  editor = vi

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[diff]
  tool = vimdiff

[merge]
  log = true
  tool = vimdiff

[push]
  default = simple

[credential]
	helper = store
[pull]
	rebase = false
