[init]
  defaultBranch = main
  templatesDir  = ~/.git-templates

[user]
  name = Cam Ratchford
  email = camratchford@gmail.com

[core]
  filemode = false
  editor = vi

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[branch]
  autosetuprebase = always
  mergeoptions = --no-ff

[pull]
  rebase = true

[diff]
  tool = vimdiff

[merge]
  log = true
  tool = vimdiff

[push]
  default = simple

[credential]
  helper = store

[submodule]
  fetchJobs = 1

[protocol]
  version = 2

