$include /etc/Inputrc

set editing-mode vi
set input-meta on
set convert-meta off
set output-meta on
set completion-query-items 150
set completion-ignore-case on
set bell-style none
set show-all-if-ambiguous on
$if Bash
"\C-e": edit-and-execute-command
"\e[1;2A": ""   # Disable S-Up mapping to page-up
"\e[1;2B": ""   # Disable S-Down mapping to page-down
$endif
