$include /etc/Inputrc

set editing-mode vi
set input-meta on
set convert-meta off
set output-meta on
set completion-query-items 150
set completion-ignore-case on
set bell-style none
set show-all-if-ambiguous on
$if Bash
"\C-f":"/home/wizard-pirate/bin/search-history\n"
"\C-e": edit-and-execute-command
$endif
